<h1>Welcome to Title Case</h1>
<form action="/queen_move">
  <div class="form-group">
     <label for="queen_move">Enter coordinates for the queen:</label>
     <input id="queen_move" name="queen_move" class="form-control" type="text">
  </div>
  <div class="form-group">
     <label for="enemy">Enter coordinates for the enemy:</label>
     <input id="enemy" name="enemy" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Send</button>
</form>
